.add_edit-header {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNGN0Y4RjciIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI0VCRUNFQiIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #F7F8F7 0%, #EBECEB 100%);
  background-image: -moz-linear-gradient(top, #F7F8F7 0%, #EBECEB 100%);
  background-image: -o-linear-gradient(top, #F7F8F7 0%, #EBECEB 100%);
  background-image: linear-gradient(to bottom, #F7F8F7 0%, #EBECEB 100%);
  padding: 10px 20px;
}
.add_edit-header span {
  font-size: 20px;
}
.form-horizontal .form-group {
  margin-right: 0;
  margin-left: 0;
}
.textarea {
  min-height: 100px;
  max-height: 200px;
  resize: vertical;
}
.padding-top-bottom {
  padding: 15px 0;
}
/*Добавление файла*/
.file_div {
  margin-top: 5px;
}
#picture,
#new_photo {
  display: none;
}
.file_label {
  display: block;
  background-color: #009688;
  color: #fff;
  padding: 10px;
  transition: 0.3s;
}
.file_label:hover {
  cursor: pointer;
  background-color: #26A69A;
}
