.form-horizontal {
  position: relative;
}
#auth2 {
  height: 150px;
}
#show_help {
  border-bottom: 1px black dotted;
}
#show_help:hover {
  cursor: help;
  border-bottom: none;
}
#help {
  display: none;
  position: absolute;
  left: 70px;
  top: 28px;
  background-color: #A0DAEE;
  border: 1px solid #2BB0D7;
  padding: 10px;
  border-radius: 5px;
  max-width: 300px;
}
#help:hover {
  cursor: help;
}
#help img {
  margin: -11px 0 0 -37px;
}
.info_text {
  float: right;
  max-width: 250px;
  color: #24547C;
  font-size: 14px;
  line-height: 1.5;
}
.info_text p {
  color: #154E69;
  font-weight: bold;
  font-style: italic;
  font-size: 15px;
  margin-bottom: 10px;
}
.info_text a {
  color: #154E69;
  font-weight: bold;
  font-style: italic;
}
