#content {
    background: url(/skins/img/default/err_img.jpg) no-repeat 0 130px;
    background-size: cover;
}

.err_div {
    margin: 0 auto;
    width: 970px;
    color: white;
}

.err_div div {
    font-weight: bold;
    font-size: 2.5em;
    text-align: center;
    margin-top: 175px;
    text-shadow: #8C98A0 1px 1px 1px;
}

.err_div p {
    text-align: center;
    text-shadow: #8C98A0 1px 1px 1px;
}

.err_div a {
    color: white;
    display: block;
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 150px;
    width: 104px;
    height: 31px;
    font-size: 0.8em;
    text-align: center;
    padding-top:10px;
    background-color: #4A4A4A;
    background: -moz-linear-gradient(#575757, #393939);
    background: -webkit-linear-gradient(#575757, #393939);
    background: -ms-linear-gradient(#575757, #393939);
    background: -o-linear-gradient(#575757, #393939);
    background: linear-gradient(#575757, #393939);
}

.err_div a:hover {
    background-color: #fff;
    background: -moz-linear-gradient(#62A8CD, #438BB8);
    background: -webkit-linear-gradient(#62A8CD, #438BB8);
    background: -ms-linear-gradient(#62A8CD, #438BB8);
    background: -o-linear-gradient(#62A8CD, #438BB8);
    background: linear-gradient(#62A8CD, #438BB8);
}